*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#0f172a;
    color:white;
    min-height:100vh;
    padding:40px 20px;
}

.container{
    max-width:700px;
    margin:auto;
}

h1{
    text-align:center;
    margin-bottom:25px;
    font-size:55px;
    font-family:'Pacifico', cursive;
}

.note-box{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

textarea{
    flex:1;
    height:120px;
    resize:none;
    padding:15px;
    border:none;
    border-radius:15px;
    outline:none;
    font-size:16px;
}

button{
    border:none;
    padding:15px 20px;
    border-radius:15px;
    background:#38bdf8;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
    background:#0ea5e9;
}

.notes{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.note{
    background:#1e293b;
    padding:20px;
    border-radius:15px;

}

.delete-btn{
    position:absolute;
    top:10px;
    right:10px;
    background:red;
    padding:7px 12px;
    border-radius:10px;
    font-size:14px;
}

.note-date{
    display:block;
    margin-bottom:10px;
    color:#94a3b8;
    font-size:13px;
}

.action-buttons{
    display:flex;
    gap:8px;
    margin-bottom:10px;
    justify-content:flex-end;
}

.edit-btn{
    background:#f59e0b;
    padding:7px 12px;
    border-radius:10px;
    font-size:14px;
}

.delete-btn{
    background:#ef4444;
    padding:7px 12px;
    border-radius:10px;
    font-size:14px;
}

@media (max-width: 600px){

    .note-box{
        flex-direction:column;
    }

    .note-box button{
        width:100%;
    }

    .action-buttons{
        justify-content:center;
        flex-wrap:wrap;
    }

    .edit-btn,
    .delete-btn{
        width:100px;
    }

}
